## Gmail UI Clone
[Click here](https://clone-bcc5f.web.app/) to view the live Project

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/src/utils/firebaseConfig.js

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
